<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>租房网 - 个人资料</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/head.css">
        <link rel="stylesheet" href="/static/css/add_style.css">
    </head>
    <body>
        {% include 'header.html' %}
        
        <div id="regLogin" class="wrap">
            <div class="dialog">
                <dl class="clearfix">
                    <dd class="past">修改个人信息</dd>
                </dl>
                <div class="box">
                    <form id="registerForm">
                        {% csrf_token %}
                        {% verbatim %}
                        <div class="infos">
                            <table class="field">
                                <tr>
                                    <td class="field">当前密码：</td>
                                    <td>
                                        <input type="password" type="text" class="text" v-model="form.oldPassword" name="oldPassword"><span style="color: red">{{ message }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">新密码：</td>
                                    <td>
                                        <input type="password" class="text" v-model="form.password" name="password"><span style="color: red">{{ newMessage }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">确认密码：</td>
                                    <td>
                                        <input type="password" class="text" v-model="againPassword" name="agionPassword"> <span style="color: red">{{ againMessage }}</span>
                                    </td>
                                </tr>
                            </table>
                            <div class="buttons">
                                <input type="button" value="修改" @click="onUpdate">
                            </div>
                        </div>
                        {% endverbatim %}
                    </form>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        </div>
        <script src="/static/js/password.js"></script>
    </body>
</html>
