<!DOCTYPE html>
<html>
	<head>
		<meta name="referrer" content="no-referrer" charset="utf-8">
		<title>租房网 - 修改房屋信息</title>
		<link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/head.css">
        <link rel="stylesheet" href="/static/css/add_style.css">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
        {% include 'header.html' %}
		<div id="regLogin" class="wrap">
			<div class="dialog">
				<dl class="clearfix">
					
					<dd class="past">修改房屋信息</dd>
				</dl>
				<div class="box">
					<form action="">
                        {% csrf_token %}
                        {% verbatim %}
						<div class="infos">
							<table class="field">
								<tr>
									<td class="field">标 题：</td>
									<td><input type="text" class="text"  v-model="data.houseData.title" name="title"></td>
								</tr>
								<tr>
									<td class="field">户 型：</td>
									<td>
										<select v-model.number="data.houseData.type">
                                            <option value="0">不限</option>
                                            <option v-for="item in housetypes" :value="item.typeid">{{ item.name }}</option>
                                        </select>
								   </td>
								</tr>
								<tr>
									<td class="field">面 积：</td>
									<td><input type="number" class="mtext"  v-model="data.houseData.area" name="area"></td>
								</tr>
								<tr>
									<td class="field">楼 层：</td>
									<td>
										<input type="number" class="stext" name="floor"  v-model="data.houseData.floor" maxlength="3">
										/
										<input type="number" class="stext" name="totalfloor"  v-model="data.houseData.totalfloor" maxlength="3">
									</td>
								</tr>
								<tr>
									<td class="field">朝向：</td>

									<td>
                                        <select v-model="data.houseData.direction">
                                            <option value="不限">不限</option>
                                            <option value="朝东">朝东</option>
                                            <option value="朝南">朝南</option>
                                            <option value="朝西">朝西</option>
                                            <option value="朝北">朝北</option>
                                            <option value="朝东北">朝东北</option>
                                            <option value="朝西北">朝西北</option>
                                            <option value="朝东南">朝东南</option>
                                            <option value="朝西南">朝西南</option>
                                        </select>
                                    </td>
								</tr>
								<tr>
									<td class="field">价 格：</td>
									<td>
										<input type="number" class="mtext"  v-model="data.houseData.price" name="price">
										<input type="hidden" name="priceunit"  v-model="data.houseData.priceunit" value="元/月">
									</td>
								</tr>
		                        <tr>
									<td class="field">省市区：</td>
									<td>
										<select v-model="provId" @change="selectProv" >
                                            <option value="0">请选择</option>
                                            <option v-for="prov in provinces" :value="prov.distid">{{ prov.name }}</option>
                                        </select>
										<select v-model.number="data.houseData.district_level2" @change="selectCity">
                                            <option value="0">请选择</option>
                                            <option v-for="city in cities" :value="city.distid">{{ city.name }}</option>
                                        </select>
                                        <select v-model.number="data.houseData.district_level3">
                                            <option value="0">请选择</option>
                                            <option v-for="county in counties" :value="county.distid">{{ county.name }}</option>
                                        </select>
		                            </td>
								</tr>
								<tr>
									<td class="field">街 道：</td>
									<td>
										<input type="text" name="street" v-model="data.houseData.street" class="text">
									</td>
								</tr>
                                
								<tr>
									<td class="field">其 他：</td>
									<td>
										<input type="checkbox" name="hassubway" v-model="data.houseData.hassubway">地铁
										<input type="checkbox" name="isshared" v-model="data.houseData.isshared">支持合租
										<input type="checkbox" name="hasagentfees" v-model="data.houseData.hasagentfees">中介费
									</td>
								</tr>
								<tr>
									<td class="field">上传图片：</td>
									<td>
										<input id="file" type="file" class="text" name="mainphoto">
										<input id="addbutton" type="button" value="+" class="addbutton">
									</td>
								</tr>
								<tr>
									<td class="field">图片预览：</td>
									<td id="prevArea">
										<img referrer="no-referrer|origin|unsafe-url" id="housePhoto" :src="data.houseData.mainphoto" alt="请选择图片" width="160" height="120">
									</td>
								</tr>
		                        <tr>
									<td class="field">详细信息：</td>
									<td><textarea name="detail" v-model="data.houseData.detail"></textarea></td>
								</tr>
							</table>
							<div class="buttons"><input type="button" value="立即发布" @click="updateHousePublish"></div>
						</div>
                        {% endverbatim %}
					</form>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>
            const publish = new Vue({
                el: '.infos',
                data:{
                	houses: [],
                    tags: [],
                    provinces: [],
					cities: [],
					counties: [],
                    housetypes:[],
                    provId: 0,
                    houseId: null,
                    data: {
                        houseData:{
                        user: 0,
                        type: 0,
                        area: null,
                        title: null,
                        floor: null,
                        totalfloor: null,
                        direction: '不限',
                        price: null,
                        priceunit: '元/月',
                        district_level2: 0,
                        district_level3: 0,
                        street: null,
                        detail: null,
                        hassubway: false,
                        isshared: false,
                        hasagentfees: false,
                        mainphoto: null,
                        },
                        tagData:{
                            tagId: 0,
                        }
                    },
                },
                created() {
                	let token = $.cookie('token');
                	this.houseId = $.cookie('houseId');
                    this.token = token
                    if (token){
                        let data = JSON.parse(window.atob(token.split('.')[1]));
                        this.data.houseData.user = data.data.userid;
                        fetch('/api/districts/')
                            .then(resp => resp.json())
                            .then(json => this.provinces = json.results);
                        fetch('/api/housetypes/')
                            .then(resp => resp.json())
                            .then(json => this.housetypes = json.results);
                        fetch('/api/tags/')
                            .then(resp => resp.json())
                            .then(json => this.tags = json.results);
                    }
                    
                    if (this.houseId) {
	                    fetch('/api/houseinfos/' + this.houseId)
	                        .then(resp => resp.json())
	                        .then(json => {
	                        	this.houses = json.results[0];
	                        	this.data.houseData.title = this.houses['title'];
	                        	this.data.houseData.area = this.houses['area'];
	                        	this.data.houseData.type = this.houses['type'].typeid;
	                        	this.data.houseData.floor = this.houses['floor'];
	                        	this.data.houseData.totalfloor = this.houses['totalfloor'];
	                        	this.data.houseData.direction = this.houses['direction'];
	                        	this.data.houseData.price = this.houses['price'];
	                        	this.data.houseData.street = this.houses['street'];
	                        	this.data.houseData.hassubway = this.houses['hassubway'];
	                        	this.data.houseData.isshared = this.houses['isshared'];
	                        	this.data.houseData.hasagentfees = this.houses['hasagentfees'];
	                        	this.data.houseData.mainphoto = this.houses['mainphoto'];
	                        	this.data.houseData.detail = this.houses['detail'];
	                        	
	                        });
                    } else {
                    	location.href = '/rent/userinfo'
                    }
                    
				},
                methods: {
                    selectProv() {
                        this.cities = [];
                        this.data.houseData.district_level2 = 0;
                        this.counties = [];
                        this.data.houseData.district_level3 = 0;
                        fetch('/api/districts/' + this.provId)
                            .then(resp => resp.json())
                            .then(json => this.cities = json.cities)
                    },
                    selectCity() {
						this.counties = [];
						this.data.houseData.district_level3 = 0;
						fetch('/api/districts/' + this.data.houseData.district_level2)
							.then(resp => resp.json())
							.then(json => this.counties = json.cities)
					},
                    updateHousePublish(){
                        let data = JSON.stringify(this.data);
                        fetch('/api/houseinfos/' + this.houseId + '/', {
                            method: "PUT",
                            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token': this.token},
                            body: data
                        }).then(resp => resp.json()).then(json => {
                        	if (json.code == 2000){
                        		location.href = '/rent/userinfo'
                        	} else {
                        		alert(json.message)
                        	}
                        })
                    },
                }
            })
        </script>
		<script type="text/javascript">
			let photoIds = [];
			let timerId = 0;
			$(function() {
				$('#addbutton').on('click', function() {
					var tr = $(this).parent().parent();
					var img = $('<img src="/static/images/upload_photo.png">').attr('width', 160).attr('height', 120);
					$('#prevArea').append(img);
					var newRow = $('<tr>');
					var newCol1 = $('<td class="field"></td>');
					var newCol2 = $('<td>');
					var fileInput = $('<input type="file" name="photo" class="text"/>');
					fileInput.on('change', (evt) => {
						doPreview(evt.target, img)
					});
					var minusButton = $('<input type="button" value="-" class="minusbutton"/>');
					minusButton.on('click', (evt) => {
						newRow.remove();
						img.remove();
					});
					newCol2.append(fileInput).append(minusButton);
					tr.after(newRow.append(newCol1).append(newCol2))
				});

				$('#file').on('change', (evt) => {
					// doPreview(evt.target)
					doUpload(evt.target)
				})
			});

			function doUpload(fileInput) {
				if (fileInput.files[0]) {
					let formData = new FormData();
					formData.append(fileInput.name, fileInput.files[0]);
					fetch('/api/photos/', {
						method: 'updatr',
						body: formData
					})
						.then(resp => resp.json())
						.then(json => {
							if (json.code == 300001) {
							    publish.data.houseData.mainphoto = json.url;
								photoIds.push(json.photoid);
								fetchPhoto(json.url)
							} else {
								alert(json.message)
							}
						})
				} else {
					$('#housePhoto').attr('src', '/static/images/upload_photo.png')
				}
			}

			function fetchPhoto(url) {
				if (timerId) {
					clearTimeout(timerId)
				}
				fetch(url).then(resp => {
					if (resp.status == 200) {
						$('#housePhoto').attr('src', url)
					} else {
						timerId = setTimeout(() => { fetchPhoto(url) }, 3000)
					}
				})
			}

			function doPreview(fileInput) {
				var file = fileInput.files[0];
				if(/image\/\w+/.test(file.type)) {
					if(window.FileReader) {
						var fr = new FileReader();
						fr.onloadend = function() {
							$('#housePhoto').attr('src', this.result)
						};
						fr.readAsDataURL(file)
					}
				} else {
					alert("只能选择图片文件");
					source.value = "";
					target.attr('src', '')
				}
			}
		</script>
	</body>
</html>