<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/head.css">
    <link rel="stylesheet" href="/static/css/add_style.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
    <body>
        {% include 'header.html' %}
        {% verbatim %}
        <div id="app" v-cloak class="main wrap">
            <table class="house-list">
                <tr v-for="user">
                    <td>
                        <dl>
                            <dt>
                                <span><b>昵称：</b></span>&nbsp;
                                <span>{{ user.username }}</span>&nbsp;
                            </dt>
                            <dd>
                                <span><b>积分：</b></span>&nbsp;
                                <span>{{ user.point }}</span>&nbsp;
                            </dd>
                            <dd>
                                <span><b>邮箱：</b></span>
                                <span>{{ user.email }}</span>
                            </dd>
                            <dd>
                                <span><b>上次登录时间：</b></span>
                                <span>{{ user.lastvisit }}</span>
                            </dd>
                            <dd id="register">
                                <span>{{ userType }}</span>&nbsp;
                                <span v-if="roleId == 1">
                                    <button @click="registerAgent">经理人注册</button>
                                </span>
                            </dd>
                        </dl>
                        <div v-if="roleId > 1">
                            <p>
                                <button @click="history">发布历史</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span v-if="blockHistory"><i class="el-icon-refresh" @click="houseRefresh"></i></span>
                            </p>
                            <div id="app2" v-if="blockHistory">
                                <el-table :data="houseInfos" style="width: 100%">
                                    <el-table-column
                                        prop="houseid"
                                        label="编号"
                                        width="50" >
                                    </el-table-column>
                                    <el-table-column
                                        prop="title"
                                        label="标签"
                                        width="280">
                                    </el-table-column>
                                    <el-table-column
                                        prop="area"
                                        label="面积"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                        prop="price"
                                        label="价格"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        prop="street"
                                        label="街道"
                                        width="180">
                                    </el-table-column>
                                    <el-table-column
                                        prop="district.name"
                                        label="地区"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        prop="type.name"
                                        label="户型"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="houseid"
                                            label="删除"
                                            width="50">
                                        <i class="el-icon-delete" @click="historyDeleted"></i>
                                    </el-table-column>
                                </el-table>
                                <el-pagination id="pages"
                                    layout="prev, pager, next"
                                    page-size="5"
                                    :total="houseNext.count"
                                    @current-change="houseHandleCurrentChange"
                                    @prev-click="houseLoadData(houseNext.prevPage)"
                                    @next-click="houseLoadData(houseNext.nextPage)">
                                </el-pagination>
                            </div>
                        </div>
                        <div v-if="roleId > 2">
                            <p>
                                <button @click="seeUsers">查看用户</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span v-if="blockUsers"><i class="el-icon-refresh" @click="userRefresh"></i></span>
                            </p>
                            <div id="app2" v-if="blockUsers">
                                <el-table :data="users" style="width: 80%">
                                    <el-table-column
                                        prop="userid"
                                        label="编号"
                                        width="50" >
                                    </el-table-column>
                                    <el-table-column
                                        prop="username"
                                        label="昵称"
                                        width="120">
                                    </el-table-column>
                                    <el-table-column
                                        prop="realname"
                                        label="姓名"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                        prop="tel"
                                        label="电话"
                                        width="180">
                                    </el-table-column>
                                    <el-table-column
                                        prop="email"
                                        label="邮箱"
                                        width="200">
                                    </el-table-column>
                                    <el-table-column
                                        prop="point"
                                        label="积分"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                            prop="houseid"
                                            label="删除"
                                            width="50">
                                        <i class="el-icon-delete" @click="userDeleted"></i>
                                    </el-table-column>
                                </el-table>
                                <el-pagination id="pages"
                                    layout="prev, pager, next"
                                    page-size="5"
                                    :total="userNext.count"
                                    @current-change="userHandleCurrentChange"
                                    @prev-click="userLoadData(userNext.prevPage)"
                                    @next-click="userLoadData(userNext.nextPage)">
                                </el-pagination>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <a href="/rent/index/">首页</a>
        </div>
        {% endverbatim %}
        {% include 'footer.html' %}
        <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="/static/js/user_info.js"></script>
    </body>
</html>