<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/head.css">
    <link rel="stylesheet" href="/static/css/add_style.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
    <body>
        {% include 'header.html' %}
        {% verbatim %}
        <div id="app" v-cloak class="main wrap">
            <table class="house-list">
                <el-row>
                    <el-col :span="12">
                        <el-menu
                          default-active="2"
                          class="el-menu-vertical-demo"
                          @open="handleOpen"
                          @close="handleClose">
                          <el-submenu index="1">
                            <template slot="title">
                              <i class="el-icon-setting"></i>
                              <span>基本信息</span>
                            </template>
                            <el-menu-item-group>
                              <el-menu-item index="1-1"><a href="/rent/userinfo/profile/" style="text-decoration:none;color: black">个人资料修改</a></el-menu-item>
                              <el-menu-item index="1-2"><a href="/rent/userinfo/password/" style="text-decoration:none;color: black">密码修改</a></el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
                <tr v-for="user">
                    <td>
                        <dl>
                            <dt>
                                <span><b>昵称：</b></span>&nbsp;
                                <span>{{ user.username }}</span>&nbsp;
                            </dt>
                            <dd>
                                <span><b>积分：</b></span>&nbsp;
                                <span>{{ user.point }}</span>&nbsp;
                            </dd>
                            <dd>
                                <span><b>邮箱：</b></span>
                                <span>{{ user.email }}</span>
                            </dd>
                            <dd>
                                <span><b>上次登录时间：</b></span>
                                <span>{{ user.lastvisit }}</span>
                            </dd>
                            <dd id="register">
                                <b><span>{{ userType }}</span></b>&nbsp;
                                <span v-if="roleId == 1">
                                    <button @click="registerAgent">经理人注册</button>
                                </span>
                            </dd>
                        </dl>
                        <div v-if="roleId > 1">
                            <p>
                                <button @click="history">发布历史</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span v-if="blockHistory"><i class="el-icon-refresh" @click="houseRefresh"></i></span>
                            </p>
                            <div id="app2" v-if="blockHistory">
                                <el-table :data="houseInfos" style="width: 100%">
                                    <el-table-column
                                        prop="houseid"
                                        label="编号"
                                        width="80" >
                                    </el-table-column>
                                    <el-table-column
                                        prop="title"
                                        label="标签"
                                        width="280">
                                    </el-table-column>
                                    <el-table-column
                                        prop="area"
                                        label="面积"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                        prop="price"
                                        label="价格"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        prop="street"
                                        label="街道"
                                        width="180">
                                    </el-table-column>
                                    <el-table-column
                                        prop="district.name"
                                        label="地区"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        prop="type.name"
                                        label="户型"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="houseid"
                                            label="删除"
                                            width="50">
                                        <i class="el-icon-delete" @click="historyDeleted"></i>
                                    </el-table-column>
                                     <el-table-column
                                            prop="houseid"
                                            label="修改"
                                            width="50">
                                        <i class="el-icon-edit" @click="historyEdit"></i>
                                    </el-table-column>
                                </el-table>
                                <el-pagination id="pages"
                                    layout="prev, pager, next"
                                    page-size="20"
                                    :total="houseNext.count"
                                    @current-change="houseHandleCurrentChange"
                                    @prev-click="houseLoadData(houseNext.prevPage)"
                                    @next-click="houseLoadData(houseNext.nextPage)">
                                </el-pagination>
                            </div>
                        </div>
                        <div v-if="roleId == 4">
                            <p>
                                <button @click="seeUsers">查看用户</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span v-if="blockUsers"><i class="el-icon-refresh" @click="userRefresh"></i></span>
                            </p>
                            <div id="app2" v-if="blockUsers">
                                <el-table :data="users" style="width: 80%">
                                    <el-table-column
                                        prop="userid"
                                        label="编号"
                                        width="50" >
                                    </el-table-column>
                                    <el-table-column
                                        prop="username"
                                        label="昵称"
                                        width="120">
                                    </el-table-column>
                                    <el-table-column
                                        prop="realname"
                                        label="姓名"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                        prop="tel"
                                        label="电话"
                                        width="180">
                                    </el-table-column>
                                    <el-table-column
                                        prop="email"
                                        label="邮箱"
                                        width="200">
                                    </el-table-column>
                                    <el-table-column
                                        prop="point"
                                        label="积分"
                                        width="50">
                                    </el-table-column>
                                    <el-table-column
                                            prop="houseid"
                                            label="删除"
                                            width="50">
                                        <i class="el-icon-delete" @click="userDeleted"></i>
                                    </el-table-column>
                                </el-table>
                                <el-pagination id="pages"
                                    layout="prev, pager, next"
                                    page-size="20"
                                    :total="userNext.count"
                                    @current-change="userHandleCurrentChange"
                                    @prev-click="userLoadData(userNext.prevPage)"
                                    @next-click="userLoadData(userNext.nextPage)">
                                </el-pagination>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <a href="/rent/index/">首页</a>
        </div>
        {% endverbatim %}
        {% include 'footer.html' %}
        <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>    
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    housePage: 1,
                    userPage:1,
                    houseNext:{
                        count: 0,
                        nextPage: null,
                        prevPage: null,
                    },
                    userNext:{
                        count: 0,
                        nextPage: null,
                        prevPage: null,
                    },
                    url: '/api/users/',
                    userId: null,
                    user: [],
                    roleId: null,
                    houseInfos:[],
                    users: [],
                    blockHistory: false,
                    blockUsers: false,
                    userType: null,
                    token: null,
                    userDate: {
                        name: null,
                        tel: null,
                        servstar: 0,
                        realstar: 0,
                        profstar: 0
                    }
                },
                created(){
                    let token = $.cookie('token')
                    this.token = token
                    if (token) {
                        let useInfos = token.split('.')[1];
                        let data = JSON.parse(window.atob(useInfos));
                        this.userId = data.data.userid;
                        this.roleId = data.data.roleid;
                        let dictionary = {
                            '1': '普通用户',
                            '2': '经理人',
                            '4': '管理员'
                        };
                        this.userType = dictionary[this.roleId];
                        fetch(this.url + this.userId, {
                                headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token':this.token},
                            }).then(resp => resp.json())
                                .then(json => {
                                    console.log(json)
                                    this.user = json.results[0];
                                    this.userDate.name = json.results[0].realname;
                                    this.userDate.tel = json.results[0].tel;
                            })
                    }
                    else {
                        location.href = '/rent/login/'
                    }
                },
                methods:{
                    houseHandleCurrentChange(currentPage){
                        this.housePage = currentPage
                        this.houseLoadData('/api/houseinfos/?page=' + currentPage)
                    },
                    houseLoadData(url) {
                        if (url) {
                            fetch(url + '&user=' + this.userId)
                                .then(resp => resp.json())
                                .then(json => {
                                    this.houseNext.count = json.count;
                                    this.houseNext.nextPage = json.next;
                                    this.houseNext.prevPage = json.previous;
                                    this.houseInfos = json.results;
                                })
                        }
                    },
                    userHandleCurrentChange(currentPage){
                        this.userPage = currentPage
                        this.userLoadData('/api/users/?page=' + currentPage)
                    },
                    userLoadData(url) {
                        if (url) {
                            fetch(url, {
                                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token':this.token},
                                })
                                .then(resp => resp.json())
                                .then(json => {
                                    this.houseNext.count = json.count;
                                    this.houseNext.nextPage = json.next;
                                    this.houseNext.prevPage = json.previous;
                                    this.houseInfos = json.results;
                                })
                        }
                    },
                    history(){
                        this.blockHistory = !this.blockHistory;
                        fetch('/api/houseinfos/?page=' + this.housePage + '&user=' + this.userId)
                            .then(resp => resp.json())
                            .then(json => {
                                this.houseInfos = json.results;
                                this.houseNext.count = json.count;
                                this.houseNext.nextPage = json.next;
                                this.houseNext.prevPage = json.previous;
                            });
                    },
                    historyDeleted(e){
                        let el = e.currentTarget.parentElement.parentElement.parentElement.firstChild.firstChild.textContent;
                        let url = '/api/houseinfos/';
                        this.selectData(el, url);
                        this.sleep(500);
                        this.refreshHouseInfoData(url);
                    },
                    historyEdit(e){
                        let el = e.currentTarget.parentElement.parentElement.parentElement.firstChild.firstChild.textContent;
                        let date = new Date();
                        date.setTime(date.getTime() + (1000 * 1000));
                        let expires = "; expires=" + date.toGMTString();
                        document.cookie = "houseId=" + el + expires + "; path=/";
                        location.href = '/rent/userinfo/house'
                    },
                    userDeleted(e){
                        let el = e.currentTarget.parentElement.parentElement.parentElement.firstChild.firstChild.textContent;
                        let url = '/api/users/';
                        this.selectData(el, url);
                        this.refreshUserData(url);
                    },
                    seeUsers(){
                        this.blockUsers = !this.blockUsers;
                        fetch('/api/users/?page=' + this.userPage,  {
                                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token':this.token},
                            })
                            .then(resp => resp.json())
                            .then(json => {
                                this.users = json.results;
                                this.userNext.count = json.count;
                                this.userNext.nextPage = json.next;
                                this.userNext.prevPage = json.previous;
                            })
                    },
                    registerAgent(){
                        let agentData = JSON.stringify(this.userDate);
                        console.log(agentData);
                        let data = JSON.stringify({"role_user": true});
                        fetch('/api/agents/', {
                            method: 'POST',
                            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json'},
                            body: agentData,
                        }).then(resp => resp.json()).then();
                        fetch('/api/users/' + this.userId + '/', {
                            method: 'PUT',
                            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token':this.token},
                            body: data,
                        }).then(resp => resp.json()).then(json => {
                            this.setCookie(-1);
                            alert(json.message + '请重新登录');
                            location.href = '/rent/login/'
                        })
                    },
                    userRefresh(){
                        let url = '/api/users/?page=' + this.userPage;
                        this.refreshUserData(url);
                    },
                    houseRefresh(){
                        let url = '/api/houseinfos/?page=' + this.housePage;
                        this.refreshHouseInfoData(url);
                    },
                    selectData(el, url){
                        fetch(url + el + '/', {
                            method: 'PUT',
                            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token': this.token},
                        })
                            .then(resp => resp.json())
                            .then(json => alert(json.message))
                    },
                    refreshUserData(url){
                        fetch(url,  {
                                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'token':this.token},
                            })
                            .then(resp => resp.json())
                            .then(json => this.users = json.results)
                    },
                    refreshHouseInfoData(url){
                        if (this.userId){
                            fetch(url + '&user=' + this.userId)
                                .then(resp => resp.json())
                                .then(json => {
                                    this.houseInfos = json.results;
                                    this.houseNext.count = json.count;
                                })
                        }
                    },
                    sleep(d){
                        for(let t = Date.now();Date.now() - t <= d;);
                    },
                    setCookie(days){
                        let token = $.cookie('token');
                        let date = new Date();
                        date.setTime(date.getTime()+(1000 * 86400 * days));
                        let expires = "; expires="+date.toGMTString();
                        document.cookie = "token=" + token + expires + "; path=/";
                    },
                    handleOpen(key, keyPath) {
                        console.log(key, keyPath);
                    },
                    handleClose(key, keyPath) {
                        console.log(key, keyPath);
                    }
                }
            });




        </script>
    </body>

</html>